<div class="container my-5">
    <div class="review-card d-flex flex-column gap-3">
        <div class="d-flex align-items-center gap-3">
            <div class="avatar-initial">
                @if (review.author_details.avatar_path) {
                <img src="https://image.tmdb.org/t/p/w300{{review.author_details.avatar_path}}" alt=""
                    class="img-fluid rounded-circle">
                }@else {
                {{review.author.slice(0,2)}}

                }
            </div>
            <div>
                <h5 class="mb-0">A review by <strong>{{review.author}}</strong></h5>
                <small class="text-muted">Written by {{review.author}} on {{review.created_at|date}}</small>
            </div>
            <div class="ms-auto">

                <span class="rating-badge">★{{review.author_details.rating*10}} <small><sup>%</sup></small>
                </span>

            </div>
        </div>
        <div class="review-content">
            <p>
                {{review.content}}
            </p>
            <p><strong>FULL REVIEW </strong> <a href="{{review.url}}" target="_blank">Link</a></p>

        </div>
    </div>
</div>