@if (loading) {
<h1>Loading</h1>
}@else {
@if (movieDetails) {
<div class=" my-5">
    <div class="row p-5 movieBackGround "
        [style.backgroundImage]="'linear-gradient(to right, rgba(70, 30, 100, 0.9) calc((50vw - 170px) - 340px), rgba(30, 60, 120, 0.7) 50%, rgba(120, 30, 80, 0.5) 100%), url(https://image.tmdb.org/t/p/original' + movieDetails.backdrop_path + ')'">
        <div class="col-md-3">
            <div class="movie-poster ">
                <img src="https://image.tmdb.org/t/p/w300{{movieDetails.poster_path}}" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-md-8">
            <div class="movie-card text-light " style="background-color:   transparent;">
                <h2>{{movieDetails.title}}
                    @if (isInWatchlist()) {
                    <i class="fa-solid fa-heart" style="color: yellow;" (click)="removeFromWatchlist(movieDetails.id)">
                    </i>
                    } @else {
                    <i class="fa-solid fa-heart" (click)="AddToWatchlist()">
                    </i>
                    }

                </h2>

                <p class="text-light">{{ movieDetails.release_date | date }}</p>
                <div class="progress-circle" [ngClass]="getRatingColor(movieDetails.vote_average)">
                    <svg viewBox="0 0 36 36">
                        <path d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                        <path [attr.stroke-dasharray]="getStrokeDashArray(movieDetails.vote_average)"
                            d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                    </svg>
                    <span class="rating"> {{ movieDetails.vote_average * 10 | number:'1.0-0' }}
                        <sup>
                            <small>%</small></sup>
                    </span>
                </div>

                <p>{{movieDetails.overview}}</p>
                <div class="mb-3">
                    @for (genre of movieDetails.genres; track $index) {
                    <span class=" me-2 btn-category ">{{genre.name}}</span>
                    }
                </div>
                <p><strong>Duration:</strong> {{movieDetails.runtime}} Min. |

                    <strong>Language:</strong>
                    {{movieDetails.original_language|languageName}}
                </p>
                @for (company of movieDetails.production_companies; track $index) {
                @if (company.logo_path&&$index<4) { <img src="https://image.tmdb.org/t/p/w200{{company.logo_path}}"
                    [alt]="company.name" class="img-fluid me-3 " style="max-height: 60px;">

                    }
                    }

            </div>
        </div>
    </div>
    <br />
    <h2 class="my-2">Recommendations</h2>
    <div class="row row-cols-lg-6 row-cols-md-4 row-cols-2 g-2 my-3 px-2 shadow ">
        @for (movieItem of moviesRecommendations.results; track $index) {
        @if ($index < 6){ <app-movie-card [movie]=" movieItem"></app-movie-card>
            }
            }
    </div>
    <div>
        @if (movieReviews.results.length > 0) {
        @for (movieReview of movieReviews.results; track $index) {

        <app-review [review]="movieReview"></app-review>

        }}@else {
        <div class="no-reviews text-center my-5">
            <div class="no-reviews-icon mb-3">
                <i class="bi bi-chat-dots"></i>
            </div>
            <h2>No Reviews</h2>
        </div>

        }
    </div>





</div>
}@else if (!movieDetails) {


}
}