.watchlistbx {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.watchlistbx .row {
  justify-content: space-evenly;
  align-items: center;
}

.watchlist {
  position: relative;
  padding: 0;
  height: auto;
  /* box-shadow: #081c2277 0px 0px 5px; */
  -webkit-box-shadow: 0px 7px 5px 0px rgba(201, 201, 201, 1);
  -moz-box-shadow: 0px 7px 5px 0px rgba(201, 201, 201, 1);
  box-shadow: 0px 7px 5px 0px rgba(201, 201, 201, 1);
  border-radius: 30px;
}

.watchlist .img {
  width: 35%;
  position: relative;
}

.watchlist .img img {
  width: 100%;
  height: 300px;

  border-radius: 30px;
}

.watchlist .text {
  position: relative;
  width: 65%;
}
.watchlist p.date {
  font-size: 14px;
  color: gray;
}
.fa-heart {
  cursor: pointer;
  position: absolute;
  top: 50px;

  font-size: 25px;
  z-index: 99;
}
.right {
  right: 35px;
}
.left {
  left: 35px;
}
.progress-circle {
  position: absolute;
  top: 18px;
  /* right: 20px; */
  width: 40px;
  height: 40px;
  background: #081c22;
  border-radius: 50%;
  padding: 2px;
}

.progress-circle svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.progress-circle path {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
}

.progress-circle path:first-child {
  stroke: #204529;
}

.progress-circle path:last-child {
  stroke: #21d07a;
}

.progress-circle.yellow path:last-child {
  stroke: #d2d531;
}

.progress-circle.red path:last-child {
  stroke: #db2360;
}

.rating {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  font-weight: bold;
}
.fa-heart-crack {
  font-size: 150px;
  color: rgba(128, 128, 128, 0.062);
}

button {
  background-color: #ffe353;
  color: rgb(49, 49, 49);
}
button:hover {
  background-color: #ffe353;
  color: rgb(49, 49, 49);
}
